*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* shared styles */
.display-flex{
    display: flex;
}

.dark-01{
    color: #131313;
}

.dark-02{
    color: #424242;
}

.dark-03{
    color: #727272;
}

.primary-color{
    color: #FF900E
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1)
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    padding: 20px 24px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* spacial grayscal */

.bw-img{
    filter: grayscale(100%);
}

/* header styles */
header{
    padding: 20px 0;
    margin-bottom: 80px;
}
/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-items{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.section-description{
    line-height: 26px;
}

/* banner styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    line-height: 26px;
    margin-bottom: 32px;
}
.banner-image{
    width: 100%;
}

/* teams and features styles */
.teams{
    margin-bottom: 80px;
    align-items: center;
    gap: 4.5rem;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.our-features{
    max-width: 530px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

#our{
    font-weight: 900;
}

#features{
    font-weight: 700;
}

/* some-fact style */

.fact-title{
    max-width: 540px;
    margin-bottom: 6.25rem;
}

.fact-title p{
    margin-top: 24px;
    line-height: 26px;
}

.fact-box{
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
}

.fact-card{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 0.5rem;
    padding: 40px;
}

.fact-card h4{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.fact-card p{
    font-size: 1.75rem;
    font-weight: 600;
}

.sponsors{
    margin: 11.25rem 0 8.25rem 0;
}

.sponsor-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 3rem;
}

.sponsor-title p{
    max-width: 540px;
    text-align: center;
}

.sponsor-logo{
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

footer{
    max-width: 1440px;
    margin: 0 auto;
}

.footer-bg{
    background-color: #FFF4E7;
    border-radius: 0.5rem;
    margin-top: 1.25rem;
}
.footer-bg p{
    text-align: center;
    font-size: 1.25rem;
    padding: 2.5rem 0;
}
/* responsive styles */

@media screen and (max-width: 576px) {
    .navbar, ul, .teams{
        flex-direction: column;
        gap: 1.2rem;
        text-align: center;
    }

    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        align-items: center;
        padding: 0 10px;
    }

    .fact-box{
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .some-facts{
        width: 95%;
        margin: auto;
    }

    .sponsors{
        width: 95%;
        margin: auto;
    }
    
}

@media screen and (min-width: 577px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        margin: auto;
    }

    .fact-box{
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .some-facts{
        width: 95%;
        margin: 0 auto;
    }

    .sponsors{
        width: 95%;
        margin: auto;
    }

}