*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.display-flex{
    display: flex;
}

.dark-01{
    color: #131313;
}

.dark-02{
    color: #424242;
}

.dark-03{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1)
}

.btn-primary{
    background-color: #FF900E;
    
    color: #FFFFFF;
    border: none;
    padding: 20px 24px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles */
header{
    padding: 20px 0;
    margin-bottom: 80px;
}
/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-items{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    line-height: 26px;
    margin-bottom: 32px;
}
.banner-image{
    width: 100%;
}

/* teams and features styles */
.teams{
    align-items: center;
    gap: 4.5rem;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.our-features{
    max-width: 530px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.feature-title{
    font-size: 2.8rem;
    font-weight: 900;
}

#our{
    font-weight: 900;
}

#features{
    font-weight: 700;
    color: #FF900E;
}

.feature-description{
    line-height: 26px;
}

/* responsive styles */

@media screen and (max-width: 576px) {
    .navbar, ul, .teams{
        flex-direction: column;
        gap: 1.2rem;
        text-align: center;
    }

    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        align-items: center;
        padding: 0 10px;
    }
    
}

@media screen and (min-width: 577px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin: 0 auto;
    }
}